<table>
  <thead>
    <tr>
      <th>No</th>
      <th>Date</th>
      <th>Male Count</th>
      <th>Female Count</th>
      <th>Male Avg Age</th>
      <th>Female Avg Age</th>
    </tr>
  </thead>
  <tbody>
    {% for daily_record in daily_records %}
      {% assign row_number = start_number | plus: forloop.index %}
      <tr>
        <td>{{ row_number }}</td>
        <td>{{ daily_record.date }}</td>
        <td>{{ daily_record.male_count }}</td>
        <td>{{ daily_record.female_count }}</td>
        <td>{{ daily_record.male_avg_age }}</td>
        <td>{{ daily_record.female_avg_age }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
